header {
    display: flex;
    justify-content: center;
}

.head_logo {
    z-index: 15;
}

.head_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 116px;
}

.head_content_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00264e;
    height: 50%;
}

.head_content_top > label {
    font-size: 13px;
    color: white;
    padding-left: 25px;
}

.head_content_bottom {
    background-color: rgb(180, 135, 0);
    height: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100% auto;
    justify-content: space-evenly;
    z-index: 15;
}

.head_content_bottom > a {
    width: 200px;
    height: 94%;
}

.head_content_bottom > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.head_content_bottom > a > div:hover {
    background-color: #FFCB4F;
}

.head_content_bottom img {
    width: 1.5vw;
}

.toggle_frame_documents, .toggle_frame_services {
    text-align: center;
    background-color: rgb(180, 135, 0);
    color: #00264E;
}

.toggle_frame_documents div, .toggle_frame_services div {
    padding: 10px;
}

.toggle_frame_documents div:hover, .toggle_frame_services div:hover {
    background-color: #FFCB4F;
}

.toggle_frame_documents {
    display: none;
    grid-column: 2;
    grid-row: 2;
}

.toggle_frame_services {
    display: none;
    grid-column: 3;
    grid-row: 2;
}
