body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;

}

a {
    text-decoration: none;
}

.content_body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px;
}

header {
    display: flex;
    justify-content: center;
}

.head_logo {
    z-index: 15;
}

.head_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 116px;
}

.head_content_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00264e;
    height: 50%;
}

.head_content_top > label {
    color: white;
    padding-left: 25px;
}

.head_content_bottom {
    background-color: rgb(180, 135, 0);
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.head_content_bottom > a {
    width: 150px;
    height: 94%;
}

.head_content_bottom > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.head_content_bottom > a > div:hover {
    background-color: #FFCB4F;
}

header + div {
    position: relative;
    width: 100%;
}

footer {
    margin-top: 50px;
    padding: 30px 0;
    background-color: #00264E;
    opacity: 0.9;
}

footer > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

footer > nav > a, footer > nav > label, footer p {
    padding: 0 10px;
    color: white;
    text-align: center;
}

footer > nav > a:hover, footer > nav > label:hover {
    color: white;
}

.contact_frame {
    position: absolute;
    bottom: 130px;
    right: 100px;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    width: 250px;
    height: 150px;
    background-color: #00264E;
    z-index: 20;
    opacity: 1;
    border: 5px solid rgba(213, 159, 0, 1);
    color: white !important;
}
